<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
	<meta charset="UTF-8" />
</head>
<body>
		<section class="layout-content" layout:fragment="body">

			<nav class="navbar navbar-expand-md bg-light">
				<div class="collapse navbar-collapse" id="navbarsExampleDefault">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item active">
							<i class="oi oi-caret-right"></i>
							<span>Home</span>
						</li>
					</ul>
				</div>
			</nav>
			
</section>

</body>
</html>
